
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutU.cshtml";
}

<h2 class="text-center">GIOI THIỆU <strong>VỀ CỬA HÀNG</strong></h2>

<p>Web ShoseWord là trang web bán giày thời trang online. Chúng tôi chuyên các loại giày  các loại của 
    Việt Nam  và các nước như Anh, Mỹ</p>
<p> Chúng tôi tự tin cung cấp các thông tin về nguồn gốc hàng hóa cùng cách tư vấn bài bản trong 
    việc sử dụng và kết hợp đồ thời trang phù hợp cho đối tượng khách hàng
    là thanh niên.</p>
<p>Mang đến những trải nghiệm thú vị khi sử dụng sản phẩm của chúng tôi</p>
<p>Đối với việc lựa chọn 1 đôi giày thì vẻ đẹp từ chất lượng là vẻ đẹp quan trọng nhất đối với mọi người.
    Web chúng tôi luôn hiểu điều đó</p>
<p>Bên cạnh đó là sự phối hợp với các loại đồ với loại giày khác nhau từ đồ đi chơi, 
    đi làm cho đến đồ dự tiệc là việc rất quan trọng.</p>
<p>Các thương hiệu giày nam phổ biến mà chúng tôi thường có là:
    Giày Nike, Giày Adidas, Giày Sketcher, Giày Bata... Những thương hiệu thỉnh thoảng chúng tôi có bao gồm: Giày Converse, 
    Giày Vans,....</p>



